<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1> User Profile</h1>
        <hr>
        <h2> My Orders</h2>
        {{# each orders}}
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                       {{# each this.items}}
                           <li class="list-group-item d-flex justify-content-between align-items-center">
                               {{this.item.title}} | {{ this.qty}} Units
                               <span class="badge badge-primary badge-pill">{{this.price}}</span>
                           </li>
                       {{/each}}
                    </ul>
                </div>
                <div class="card-header">
                    <strong>${{this.cart.totalPrice}}</strong>
                </div>
            </div>
        {{/each}}

    </div>
</div>