.box{
	padding: 20px 30px 40px 25px;
}

.butt{
	width: 80px;
	height: 17px;
	position: relative;
	background-color: grey;
}
.menu{

	position: absolute;
   display: none;

  background-color: aqua;
}
.butt:hover .menu{
      display: block;
}
