<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Cart It</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/shopping-cart"><i class="fas fa-shopping-cart"></i> Shopping Cart
                    {{#if session.cart.totalQty}}<span class="badge badge-danger">{{session.cart.totalQty}}</span>{{/if}}
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> User Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{# if login }}
                        <a class="dropdown-item" href="/user/profile">User Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                    {{else}}
                        <a class="dropdown-item" href="/user/signup">Sign Up</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/signin">Sign In</a>
                    {{/if}}
                </div>
            </li>

        </ul>
    </div>
</nav>