
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"> 


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script> 

<link rel="stylesheet" type="text/css" href="style.css"> 
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<body class="bg">

<center><h1 class ="stream"><mark>Results</mark> </h1> 
<br><br>


<mark class="warn"> <h1>USE VPN & AD-BLOCKER </h1></mark>
<br>
<br>
<iframe name="iframe1" width="640" height="480" border ="0"> </iframe> 
<br>
<br>
<ul>
	<% data["Search"].forEach(function(movie) { %>
	
	<li> 
		<mark><%= movie["Title"]%></mark>
		<span class="high"> - <%=movie["Year"]%></span>  <a href="https://vodlocker.to/embed?t=<%=movie["Title"]%>" name="video" target ="iframe1"> <span class="watch"><strong>Watch now</strong></span></a>
		
	</li>
	<%}) %>
</ul> 

<a href="/" class="back">Search Again</a> 
.
<br>
.
<br>
.
<br> 
.
<br>
