.image-list{
    display: grid;
    /* grid-gap: 0 0px; */
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr)); 
    grid-auto-rows: 20px;
    /* specifies the size of row created */
}
.image-list img{
    width: 250px;
}