body{
    font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(158, 160, 163, 0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eee;
}

.container-fluid, .container {
    margin: 10px auto;
}

.form-control{
    border-radius: 20px;
}


.navbar-nav a {
    font-size: 16px;
    border-radius: 25px;
    margin: 10px 3px 3px;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.navbar-nav>.active>a{
    color: white!important;
    font-weight: bold;
    background-color: #2ecc71!important;
}

.navbar-nav>.active>a:hover{
    background-color: #30b55a!important;
}

.navbar-form button:hover {
    background-color: #2ecc71;
    color: white;
}

.navbar-default {
    background-color: #eee;
    border-color: #c3c3c3;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.thumbs {
    height: 81vh;
}

.list-group-item {
    font-size: 18px;
}

.list-group-item.active {
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

.list-group-item.active:hover {
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#playedSong {
    position: relative;
    left: 20px;
    top: 40px;
    width: 300px;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#playedSong:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#img-wrapper{
    /*position: absolute;*/
    /*background-image: url('sample-img.jpg');*/
    /*background-position: center;*/
    width:80px;
    height:80px;
    margin:10px 10px 10px 20px;
    /*z-index: 100000;*/
}

.title{
    /*margin-top:10px;*/
    display: inline-block;
    position: relative;
    top:15px;
}
.title>.song-name{
    /*padding-top:10px;*/
    font-size:25px;
    color:white;
    font-weight: bold;
}
.title>.album-name{
    font-size:15px;
    color:black;
}
.default-bar{
    margin-left:100px;
    width:800px;
    height: 2px;
    background-color: #212121;
    display: inline-block;
}
.progress-bar{
    display: inline-block;
    height:2px;
    width:10px;
    background-color: white;
}
#circle-pointer{
    display: inline-block;
    position: absolute;
    z-index: 10000;
    top:44px;
    height:15px;
    width:15px;
    background-color: white;
    /*border: 2px solid white;*/
    border-radius: 50%;
}
.volume-control{
    /*height:40px;*/
    position: relative;
    top:18px;
    margin-left:4vw;
    font-size: 40px;
    /*max-resolution: 1px;0px 10px 10px 10px;*/
}

#buttons{
    display: inline-block;
    height:100px;
    width:250px;
    margin-left:2vw;
    /*border-left:2px solid #00796b;*/
    /*border-right:2px solid black;*/
    box-shadow: 0 1px 0 1px rgba(19,84,122,0.5) ;
}
#play,#prev,#next,#pause{
    height:100px;
    font-size:30px;
    border: 0;
    outline: 0;
    color:white;
    background-color: transparent;
    width: 80px;
}


#play:active,#prev:active,#next:active,#pause:active{
    color:black;
}

#shuloop{
    /*display: inline-block;*/
    position: absolute;
    right:30px;
    height:100px;
    width:140px;
    /*border:1px solid black;*/
}
#rep,#ran{
    height:100px;
    width: 60px;
    font-size:28px;
    background-color: transparent;
    border:none;
    outline: 0;
}

.holder {
    height: 290px;
    width: 290px;
    margin: 70px 30px 20px 30px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.holder:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.main {
    height: 290px;
    width: 290px;
    /*border: 3px solid black;*/
    overflow: hidden;
}
.main img {
    transition: all .5s ease-in-out;
}
.main:hover img{
    transform: scale(1.3) rotate(20deg);
}

.blackFrame {
    height: 290px;
    width: 290px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    transition-delay: .3s;
}
.main:hover .blackFrame{
    transform: translateY(-290px);
}

.text {
    height: 100px;
    width: 290px;
    background-color: rgba(250,250,250, 1);
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 290px;
    transition: all .5s ease-in-out;
    font-size: 16px;
}
.main:hover .text{
    transition-delay: .5s;
    transform: translateX(-290px);
}

.songName {
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    height: 50px;
    width: 290px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    line-height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.playButton {
    font-size: 70px;
    text-align: center;
    height: 50px;
    width: 290px;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 100px;
    left: 290px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.main:hover .playButton {
    transition-delay: .5s;
    transform: translateX(-290px);
}

.options {
    font-size: 30px;
    height: 50px;
    width: 290px;
    background-color: transparent;
    position: absolute;
    bottom: 50px;
    left: 290px;
    margin: 0 0 0 10px;
    transition: all .5s ease-in-out;
}

.main:hover .options{
    transition-delay: .5s;
    transform: translateX(-290px);
}
