body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(158, 160, 163, 0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eee;
}

.container-fluid, .container {
    margin: 10px auto;
}

.form-control{
    height: 50px;
    border-radius: 25px;
}


.navbar-nav a {
    font-size: 16px;
    border-radius: 25px;
    margin: 10px 3px 3px;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.navbar-nav>.active>a{
    color: white!important;
    font-weight: bold;
    background-color: #2ecc71!important;
}

.navbar-nav>.active>a:hover{
    background-color: #30b55a!important;
}

.navbar-form button:hover {
    background-color: #2ecc71;
    color: white;
}

.navbar-form >.btn {
    vertical-align: baseline;
}

.navbar-default {
    background-color: #eee;
    border-color: #c3c3c3;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.navbar {
    margin-bottom: 0;
}

#box1 {
    height: 100vh;
    width: 100%;
    background-image: url(back1.png);
    background-size: cover;
    margin-top: 70px;
    display: table;
    background-attachment: fixed;
}

#box1 #searchButton:hover {
    background-color: #2ecc71;
    color: white;
}

#box2 {
    height: 100vh;
    width: 100%;
    /*background-image: url(back2.jpg);*/
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

h1 {
    font-size: 50px;
    color: white;
    margin: 0px;
    text-align: center;
    position: relative;
    top: 30vh;
}

form {
    font-size: 40px;
    color: white;
    margin: 0px;
    text-align: center;
    position: relative;
    top: 38vh;
}
