body{
    font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(158, 160, 163, 0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eee;
}

.container-fluid, .container {
    margin: 10px auto;
}

.form-control{
    border-radius: 20px;
}


.navbar-nav a {
    font-size: 16px;
    border-radius: 25px;
    margin: 10px 3px 3px;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.navbar-nav>.active>a{
    color: white!important;
    font-weight: bold;
    background-color: #2ecc71!important;
}

.navbar-nav>.active>a:hover{
    background-color: #30b55a!important;
}

.navbar-form button:hover {
    background-color: #2ecc71;
    color: white;
}

.navbar-default {
    background-color: #eee;
    border-color: #c3c3c3;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.thumbs {
    height: 81vh;
}

.list-group-item {
    font-size: 18px;
}

.list-group-item.active {
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

.list-group-item.active:hover {
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#playedSong {
    position: relative;
    left: 20px;
    top: 40px;
    width: 300px;
    height: 300px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#playedSong:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#img-wrapper{
    /*position: absolute;*/
    /*background-image: url('sample-img.jpg');*/
    /*background-position: center;*/
    width:80px;
    height:80px;
    margin:10px 10px 10px 20px;
    /*z-index: 100000;*/
}

.title{
    /*margin-top:10px;*/
    display: inline-block;
    position: relative;
    top:15px;
}
.title>.song-name{
    /*padding-top:10px;*/
    font-size:25px;
    color:white;
    font-weight: bold;
}
.title>.album-name{
    font-size:15px;
    color:black;
}
.default-bar{
    margin-left:100px;
    width:800px;
    height: 2px;
    background-color: #212121;
    display: inline-block;
}
.progress-bar{
    display: inline-block;
    height:2px;
    width:10px;
    background-color: white;
}
#circle-pointer{
    display: inline-block;
    position: absolute;
    z-index: 10000;
    top:44px;
    height:15px;
    width:15px;
    background-color: white;
    /*border: 2px solid white;*/
    border-radius: 50%;
}
.volume-control{
    /*height:40px;*/
    position: relative;
    top:18px;
    margin-left:4vw;
    font-size: 40px;
    /*max-resolution: 1px;0px 10px 10px 10px;*/
}

#buttons{
    display: inline-block;
    height:100px;
    width:250px;
    margin-left:2vw;
    /*border-left:2px solid #00796b;*/
    /*border-right:2px solid black;*/
    box-shadow: 0 1px 0 1px rgba(19,84,122,0.5) ;
}
#play,#prev,#next,#pause{
    height:100px;
    font-size:30px;
    border: 0;
    outline: 0;
    color:white;
    background-color: transparent;
    width: 80px;
}


#play:active,#prev:active,#next:active,#pause:active{
    color:black;
}

#shuloop{
    /*display: inline-block;*/
    position: absolute;
    right:30px;
    height:100px;
    width:140px;
    /*border:1px solid black;*/
}
#rep,#ran{
    height:100px;
    width: 60px;
    font-size:28px;
    background-color: transparent;
    border:none;
    outline: 0;
}

#dropBox {
    width: 650px;
    height: 400px;
    border: 2px dashed black;
    margin: auto;
    margin-top:17vh;
    position: relative;

}

#dropBox > h3 {
    /*color: white;           */
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 183px;

}

#cloud {
    /*width: 35%;
    display: block;
    margin: 0 auto;*/
    /*-webkit-filter: invert(1);
    filter: invert(1);*/
    max-height: 70%;
    max-width: 70%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#cloud:hover {
    -webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(8px, 4px) rotate(0deg); }
	10% { -webkit-transform: translate(-4px, -8px) rotate(-1deg); }
	20% { -webkit-transform: translate(-12px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 12px) rotate(0deg); }
	40% { -webkit-transform: translate(4px, -4px) rotate(1deg); }
	50% { -webkit-transform: translate(-4px, 9px) rotate(-1deg); }
	60% { -webkit-transform: translate(-12px, 4px) rotate(0deg); }
	70% { -webkit-transform: translate(8px, 4px) rotate(-1deg); }
	80% { -webkit-transform: translate(-4px, -4px) rotate(1deg); }
	90% { -webkit-transform: translate(8px, 8px) rotate(0deg); }
	100% { -webkit-transform: translate(4px, -8px) rotate(-1deg); }
}
