body {
 	 		margin: 0;
		}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  user-select: none;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
   background : #a1fc9c;
}

#close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.icons{
      position: absolute;
     display: inline;
     right: 50px;
     top : 15px;
     z-index: 10;    
   }

.checkbo {
  position: absolute;
  left : 0;
  top : 10px;
  padding: 12px 16px 12px 16px;
  height: 20px;
  width : 20px;
}

.list-group-item{
  margin-top: 5px;
} 

#close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: blue;
  padding: 30px 40px;
  color: white;
  text-align: center;
  height: 210px;
}

input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

#add {
  margin: 0px;
  padding: 9px;
  width: 20%;

  background: #00FFFF;
  color: black;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#add:hover {
  background-color: yellow;
}